<!-- NEW -->
<ul style="background-color: #248dc1;font-size: 15px;padding-left:10px;margin:0;color:white">
    <li class="tool-bar-icon-disable">
        <i class="fa fa-plus"></i>
        <!--Thêm-->
    </li>
    <li class="tool-bar-icon-disable">
        <i class="fa fa-pencil"></i>
        <!-- Sửa -->
    </li>
    <li class="tool-bar-icon-disable" >
        <i class="fa fa-floppy-o"></i>
        <!-- Lưu -->
    </li>
    <li class="tool-bar-icon-disable">
        <i class="fa fa-trash"></i>
        <!-- Xóa -->
    </li>
    <li class="tool-bar-icon-disable">
        <i class="fa fa-search"></i>
        <!--Tìm kiếm-->
    </li>
    <li class="tool-bar-icon-disable">
        <i class="fa fa-eye"></i>
        <!--Xem chi tiết-->
    </li>
    <li class="tool-bar-icon-disable">
        <i class="fa fa-check"></i>
        <!--Duyệt-->
    </li>
    <li class="tool-bar-icon-disable">
        <i class="fa fa-times"></i>
        <!-- Hủy -->
    </li>
    <li class="tool-bar-icon-normal" onclick="window.history.back()">
        <i class="fa fa-arrow-left"></i>
        <!-- Trở lại -->
    </li>
    <li style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="exportAsXLSX()">
        <i class="fa fa-file-excel-o"></i></li>
</ul>
<div>
    <div style="background-color: #248dc1; padding: 10px 30px; margin-top: 15px; color:white; display: flex; align-items: center;">
        <h1 style="margin-bottom: 0px"><i class="fa fa-info-circle" style="font-size: 30px; margin-right: 15px"></i>{{l('G2ChiTietKiemKe')}}</h1>
    </div>
    <div class="qq" style="padding: 20px;">
        <div style="padding: 20px; background-color: white;">
            <div class="row">
                <div class="col-md-6" style="font-size: 15px;">
                    <div>{{l('G2MaBanKiemKe')}}
                        <input class="form-control" style="background-color: #f4f5f8" disabled="true" type="text" name="mabangkk" value="{{Bankiemke.kK_CODE}}">
                    </div>
                    <div>{{l('G2NgayTao')}}
                        <input class="form-control" style="background-color: #f4f5f8" disabled="true" type="text" name="ngaytao" value="{{Bankiemke.kK_NGAYTAO| date:'dd/MM/y'}}">
                    </div>
                    <div>{{l('G2NguoiTao')}}
                        <input class="form-control" style="background-color: #f4f5f8" disabled="true" type="text" name="nguoitao" value="{{Bankiemke.kK_NGUOITAO}}">
                    </div>
                    <div>{{l('G2TrangThai')}}
                        <input class="form-control" style="background-color: #f4f5f8" disabled="true" type="text" name="trangthai" value="{{Bankiemke.kK_TRANGTHAI}}">
                    </div>
                </div>
                <div class="col-md-6" style="font-size: 15px;">
                    <div>{{l('G2MaDonVi')}}
                        <input class="form-control" style="background-color: #f4f5f8" disabled="true" type="text" name="madonvi" value="{{Bankiemke.kK_MADONVI}}">
                    </div>
                    <div>{{l('G2TenDonVi')}}
                        <input class="form-control" style="background-color: #f4f5f8" disabled="true" type="text" name="tendonvi" value="{{Bankiemke.kK_TENDONVI}}">
                    </div>
                    <div>{{l('G2NgayChot')}}
                        <input class="form-control" style="background-color: #f4f5f8" disabled="true" type="text" name="ngaychot" value="{{Bankiemke.kK_NGAYCHOT| date:'dd/MM/y'}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #248dc1; padding: 10px 30px; margin-top: 15px; color:white; display: flex; align-items: center;">
    <h1 style="margin-bottom: 0px"><i class="fa fa-list" style="font-size: 30px; margin-right: 15px"></i>{{l('G2DanhSachThietBiKiemKe')}}</h1>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <form class="horizontal-form" autocomplete="off" style="padding: 0 15px; margin-top: 15px;">
                <div class="m-form m-form--label-align-right">
                    <div class="row align-items-center m--margin-bottom-10">
                        <div class="col-xl-12">
                            <div class="form-group m-form__group align-items-center">
                                <div class="input-group">
                                    <b style="display: flex; align-items: center; margin-left: -20px;">{{l('G2MaThietBi')}} </b>
                                    <input class="form-control m-input" style="margin-left: 10px;width: 45px;" type="text" autoFocus [placeholder]="l('G2NhapMaTB')" name="mathietbi" (change)="inputMaTBChange($event)">
                                    <!-- <input autoFocus class="form-control m-input" style="margin-left: 20px"
                                                    [placeholder]="l('Nhập mã thiết bị')" type="text"
                                                    (change)="inputMaTBChange($event)" name="mathietbi"> -->
                                    <span style="width: 10px"></span>
                                    <b style="display: flex; align-items: center;">{{l('G2TenThietBi')}} </b>
                                    <input class="form-control m-input" style="margin-left: 10px;width: 45px" type="text" autoFocus [placeholder]="l('G2NhapTenTB')" name="tenthietbi" (change)="inputTenTBChange($event)">
                                    <span style="width: 10px"></span>
                                    <b style="display: flex; align-items: center;">{{l('G2DonVi')}} </b>
                                    <select class="form-control m-input" style="margin-left: 10px;;width: 45px" (change)="selectDonViChange($event)">
                                        <option value="">--{{l('G2TatCa')}}--</option>
                                        <option value="cungdonvi">{{l('G2CungDonVi')}}</option>
                                        <option value="khacdonvi">{{l('G2KhacDonVi')}}</option>
                                    </select>
                                    <span style="width: 10px"></span>
                                    <b style="display: flex; align-items: center;">{{l('G2TinhTrang')}} </b>
                                    <select class="form-control m-input" style="margin-left: 10px;;width: 45px" (change)="selectChangeTinhTrang($event)">
                                        <option value="">--{{l('G2TatCa')}}--</option>
                                        <option value="Hư hỏng">{{l('G2HuHong')}}</option>
                                        <option value="Bình thường">{{l('G2BinhThuong')}}</option>
                                        <option value="Sửa chữa">{{l('G2DangSuaChua')}}</option>
                                    </select>
                                    <span style="width: 10px"></span>
                                    <b style="display: flex; align-items: center;">{{l('G2DuFilter')}}/{{l('G2ThieuFilter')}}/{{l('G2ThuaFilter')}}</b>
                                    <select class="form-control m-input" style="margin-left: 10px; width: 30px;" (change)="selectChangeTinhTrangDuThieuThua($event)">
                                        <option value="">--{{l('G2TatCa')}}--</option>
                                        <option value="Đủ">{{l('G2DuFilter')}}</option>
                                        <option value="Thiếu">{{l('G2ThieuFilter')}}</option>
                                        <option value="Thừa">{{l('G2ThuaFilter')}}</option>
                                    </select>
                                    <span style="width: 10px"></span>

                                    <!-- <b style="display: flex; align-items: center;">{{l('G2DuThieuThuaSoVoiSaoKe')}} </b>
                                    <select class="form-control m-input" style="margin-left: 10px;width: 20px;"
                                        (change)="selectChangeTinhTrangSoVoiSaoKe($event)">
                                        <option value="">--{{l('G2TatCa')}}--</option>
                                        <option value="Đủ">{{l('G2Du_')}}</option>
                                        <option value="G2Thieu">{{l('G2Thieu_')}}</option>
                                        <option value="G2Thua">{{l('G2Thua_')}}</option>
                                    </select>
                                    <span style="width: 10px"></span> -->
                                    <span class="input-group-btn">
                                        <button (click)="onSearch2()" class="btn btn-primary" type="submit" style="margin-right: -20px;"><i class="flaticon-search-1"></i></button>
                                    </span>
                                    <!-- <span class="input-group-btn">
                                                <button (click)="onSearch()" class="btn btn-primary" type="submit"><i
                                                        class="flaticon-search-1" [attr.aria-label]="l('Search')"></i></button>
                                            </span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row align-items-center" style="margin-top: 15px;">
                <div class="primeng-datatable-container">
                    <div class="primeng-paging-container">
                        <!-- <p-table [value]="records" sortMode="multiple" [columns]="cols" [paginator]="true" [rows]="pageSize" [rowsPerPageOptions]="[5, 10, 20, 30, 50]"> -->
                        <p-table #dataTable [value]="records" sortMode="multiple" [paginator]="true" [rows]="pageSize" [rowsPerPageOptions]="[5, 10, 20, 30, 50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 60px !important;">{{l('G2STT')}}</th>
                                    <th [pSortableColumn]="'ctbkK_MA_TB'">{{l('G2MaThietBi')}}
                                        <p-sortIcon [field]="'ctbkK_MA_TB'"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'ctbkK_TEN_TB'">{{l('G2TenThietBi')}}
                                        <p-sortIcon [field]="'ctbkK_TEN_TB'"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'ctbkK_DV_QL'">{{l('G2DonViQuanLy')}}
                                        <p-sortIcon [field]="'ctbkK_DV_QL'"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'ctbkK_TT_SAU'" style="width: 220px !important;">
                                        {{l('G2TinhTrangSauKhiKiemKe')}}
                                        <p-sortIcon [field]="'ctbkK_TT_SAU'"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'ctbkK_TT'" style="width: 220px !important;">
                                        {{l('G2DuThieuThuaSoVoiSaoKe')}}
                                        <p-sortIcon [field]="'ctbkK_TT'"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'ctbkK_THOI_GIAN'">{{l('G2ThoiGianKiemKe')}}
                                        <p-sortIcon [field]="'ctbkK_THOI_GIAN'"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex='rowIndex'>
                                <tr>
                                    <td style="width: 50px !important;">{{rowIndex +1}}</td>
                                    <td>{{record.ctbkK_MA_TB}} </td>
                                    <td>{{record.ctbkK_TEN_TB}}</td>
                                    <td>{{record.ctbkK_DV_QL}}</td>
                                    <td>{{record.ctbkK_TT_SAU}}</td>
                                    <td> {{record.ctbkK_TT=="Thừa" ? 'Thừa': record.ctbkK_TT=="Đủ"? 'Đủ' : 'Thiếu' }}
                                    </td>
                                    <td>{{record.ctbkK_THOI_GIAN | date:'dd/MM/y'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="records.length == 0">
                            {{l('G2KhongCoDuLieu')}}
                        </div>
                        <div>
                            <span class="total-records-count" style="margin-right: 20px;">
                                {{l('G2TongCong')}} {{recordsnow.length}}
                            </span>
                            <span class="total-records-count" style="margin-right: 20px;">
                                {{l('G2Du')}} {{Bankiemke.kK_TONGTB_DUSOVOISAOKE }}
                            </span>
                            <span class="total-records-count" style="margin-right: 20px;">
                                {{l('G2Thieu')}} {{Bankiemke.kK_TONGTB_THIEUSOVOISAOKE}}
                            </span>
                            <span class="total-records-count" style="margin-right: 10px;">
                                {{l('G2Thua')}} {{ this.Bankiemke.kK_TONGTB_THUASOVOISAOKE}}
                            </span>
                        </div>
                        <!-- <div style="padding-bottom: 20px;padding-top: 20px;">
                                <tr>
                                    <th> {{recordsnow.length}}</th>
                                    <th>Đủ so với sao kê {{Bankiemke.kK_TONGTB_DUSOVOISAOKE }} </th>
                                    <th>Thiếu so với sao kê {{Bankiemke.kK_TONGTB_THIEUSOVOISAOKE}}</th>
                                    <th>Thừa so với sao kê {{ this.Bankiemke.kK_TONGTB_THUASOVOISAOKE}}</th>
                                </tr>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
