<!-- main app container -->
<div class="group10" style="font-family: roboto;">
    <div>
        <ul *ngIf="(this.editPageState=='view' || this.editPageState == 'edit')" style="background-color: #58a3dc;font-size: 15px;padding-left:10px;margin:0;color:white">
            <li style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;"
            onclick="window.history.back()"><i class="fa fa-arrow-left"></i></li>
            <li *ngIf="this.isUpdate && isGranted('Pages.Group10.NTX.Update')" style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="onSubmit()" ><i
                class="fa fa-floppy-o" id="btnUpdate"></i></li>
            <li *ngIf="!this.isUpdate && isGranted('Pages.Group10.NTX.Update')" style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="update()" ><i
                class="fa fa-pencil" id="btnEdit"></i></li>
            <li *ngIf="isGranted('Pages.Group10.NTX.Delete')"
                style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="delete()"><i
                class="fa fa-trash" id="btnDel"></i></li>
           
            <li *ngIf="this.editPageState=='view'" style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="this.export()" ><i
                class="fa fa-file-excel-o"></i></li>
        </ul>
        <ul *ngIf="(this.editPageState=='add' )" style="background-color: #58a3dc;font-size: 15px;padding-left:10px;margin:0;color:white">
            <li *ngIf="isGranted('Pages.Group10.NTX.Add')" style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="onSubmit()" ><i
                class="fa fa-floppy-o" id="btnUpdate"></i></li>

            <li style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;"
            onclick="window.history.back()"><i class="fa fa-arrow-left"></i></li>

        </ul>

    </div>

    <div class="m-subheader m-t-1">
        <div
            style="background-color: #58a3dc; padding: 10px 30px; margin-top: 15px; color:white; display: flex; align-items: center;">
            <h1 style="margin-bottom: 0px"><i class="fa fa-info-circle"
                    style="font-size: 30px; margin-right: 15px"></i>{{l('Group10_NTX_DETAIL_TITLE')}}</h1>
        </div>
        <div class="bgwhite rounded-bottom">
            <div class="  p-5 font-common-detail">
                <div >


                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label >{{l('Group10_NTX_NAME')}}
                                    <label style="color: red">*</label>
                                </label>
                                <input id="ntx_name" type="text" formControlName="name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" disabled />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required" name="empty_field">{{l('Group10_REQUIRED')}}
                                    </div>
                                    <div *ngIf="f.name.errors.maxlength" name="maxsize_field">{{this.l('Group10_MAX','50')}}</div>
                                </div>
                            </div>

                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label>{{l('Group10_NTX_ADDRESS')}}
                                    <label style="color: red">*</label>
                                </label>
                                <input id="ntx_address" type="text" formControlName="address" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }" disabled />

                                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                    <div *ngIf="f.address.errors.required" name="empty_field">{{l('Group10_REQUIRED')}}
                                    </div>
                                    <div *ngIf="f.address.errors.maxlength" name="maxsize_field">{{this.l('Group10_MAX','50')}}</div>

                                </div>
                            </div>
                        </div>

                       <div class="row">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label  >{{l('Group10_NTX_CODE')}}
                                <label style="color: red">*</label>
                            </label>
                            <input id="ntx_code" type="text" formControlName="code" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.code.errors }" disabled />

                            <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                                <div *ngIf="f.code.errors.required" name="empty_field">{{l('Group10_REQUIRED')}} </div>
                                <div *ngIf="f.code.errors.maxlength" name="maxsize_field">{{this.l('Group10_MAX','20')}}</div>
                            </div>
                        </div>

                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label >{{l('Group10_NTX_GENDER')}}
                            </label>
                            <select (change)="selectedGenderChange($event)" class="form-control">
                                <option value="1">{{l('Group10_MALE')}}</option>
                                <option value="2">{{l('Group10_FEMALE')}}</option>
                            </select>
                        </div>
                       </div>

                        <div class="row">
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label >{{l('Group10_NTX_BIRTHDAY')}}
                                    <label style="color: red">*</label>
                                </label>



                                <input id="ntx_birthday" type="date" formControlName="birthday" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" disabled />

                                    <div  style="color:#f4516c" *ngIf="this.flagBirthday" name="date_error">{{l('Group10_SELECT_DATE')}}</div>

                            </div>

                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label >{{l('Group10_NTX_ID_CARD')}}
                                    <label style="color: red">*</label>
                                </label>
                                <input id="ntx_card" type="text" formControlName="card" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.card.errors }" disabled />
                                <div *ngIf="submitted && f.card.errors" class="invalid-feedback">
                                    <div *ngIf="f.card.errors.required" name="empty_field">{{l('Group10_REQUIRED')}}</div>
                                    <div *ngIf="f.card.errors.maxlength" name="maxsize_field">{{this.l('Group10_MAX','9')}}</div>
                                    <div *ngIf="f.card.errors.minlength" name="maxsize1_field">{{this.l('Group10_MIN','9')}}</div>
                                    <div *ngIf="f.card.errors.pattern" name="number_field">{{l('Group10_ONLY_NUMBER')}}</div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label >{{l('Group10_NTX_LICENSE')}}
                                    <label style="color: red">*</label>
                                </label>
                                <input id="ntx_license" type="text" formControlName="license" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.license.errors }" disabled />
                                <div *ngIf="submitted && f.license.errors" class="invalid-feedback">
                                    <div *ngIf="f.license.errors.required" name="empty_field">{{l('Group10_REQUIRED')}}</div>
                                    <div *ngIf="f.license.errors.maxlength" name="maxsize_field">Chỉ được nhập tối đa
                                        20 kí tự</div>
                                    <div *ngIf="f.license.errors.pattern" name="number_field">{{l('Group10_ONLY_NUMBER')}}</div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>

        <div *ngIf="this.editPageState == 'view'" class="primeng-datatable-container" style="font-family: Roboto !important;  background-color: white;">
            <div
        style="background-color: #58a3dc; padding: 10px 30px; margin-top: 15px; color:white; display: flex; align-items: center;">
        <h1 style="margin-bottom: 0px"><i class="fa fa-info-circle"
                style="font-size: 30px; margin-right: 15px"></i>{{l('CarManagement')}}</h1>
        </div>
            <div class="primeng-paging-container">
                <p-table #dataTable rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                    [value]="primengTableHelper.records"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" selectionMode="single"
                    [paginator]="true" [scrollable]="true" ScrollWidth="100%"
                    [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>STT</th>
                            <th pSortableColumn="xE_CODE">{{l('CarCode')}}<p-sortIcon field="xE_CODE"></p-sortIcon>
                            </th>
                            <th pSortableColumn="xE_NAME">{{l('CarName')}}<p-sortIcon field="xE_NAME"></p-sortIcon>
                            </th>
                            <th pSortableColumn="xE_COLOR">{{l('CarColor')}}<p-sortIcon field="xE_COLOR"></p-sortIcon>
                            </th>
                            <th pSortableColumn="xE_MANUFACTURER">{{l('CarManufacturer')}}<p-sortIcon field="xE_MANUFACTURER">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="xE_LICENSE_PLATE">{{l('CarLicensePlate')}}<p-sortIcon field="xE_LICENSE_PLATE"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-car let-i="rowIndex">
                        <tr [pSelectableRow]="rowData">
                            <td>{{i+1}}</td>
                            <td>{{car.xE_CODE}}</td>
                            <td>{{car.xE_NAME}}</td>
                            <td>{{car.xE_COLOR}}</td>
                            <td>{{car.xE_MANUFACTURER}}</td>
                            <td>{{car.xE_LICENSE_PLATE}}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0" style="font-family: Roboto;">
                    {{l('NoData')}}
                </div>
                <span class="total-records-count" style="font-family: Roboto;">
                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                </span>
            </div>
        </div>
    </div>
</div>
