<ul style="background-color: #248dc1;font-size: 15px;padding-left:10px;margin:0;color:white">
    <li style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" onclick="window.history.back()"
    pTooltip="{{l('Group12_Back')}}" tooltipPosition="bottom">
        <i class="fa fa-arrow-left" style="font-size: large;vertical-align: middle;"></i></li>
    <li *ngIf="isGranted('Pages.Group12.KiemKe.Update') && !isEdit && isEditable"
        style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="isEdit=true"
        pTooltip="{{l('Group12_Edit')}}" tooltipPosition="bottom"><i
            class="fa fa-pencil" style="font-size: large;vertical-align: middle;"></i></li>
    <li *ngIf="isGranted('Pages.Group12.KiemKe.Approve') && !isEdit && isUnApproved"
        style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="approve(true)"
        pTooltip="{{l('Group12_ApproveAction')}}" tooltipPosition="bottom"><i
            class="fa fa-check" style="font-size: large;vertical-align: middle;"></i></li>
    <li *ngIf="isGranted('Pages.Group12.KiemKe.Approve') && !isEdit && isUnApproved"
        style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="approve(false)"
        pTooltip="{{l('Group12_DenyApprove')}}" tooltipPosition="bottom"><i
            class="fa fa-times" style="font-size: large;vertical-align: middle;"></i></li>
    <li *ngIf="isGranted('Pages.Group12.KiemKe.Update') && isEdit"
        style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="save()"
        name="btnDelete" pTooltip="{{l('Group12_Save')}}" tooltipPosition="bottom"><i class="fa fa-floppy-o" style="font-size: large;vertical-align: middle;"></i></li>
    <li *ngIf="isGranted('Pages.Group12.KiemKe.Update') && isEdit"
        style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="isEdit=false"
        name="btnDelete" pTooltip="{{l('Group12_Cancel')}}" tooltipPosition="bottom"><i class="fa fa-times" style="font-size: large;vertical-align: middle;"></i></li>
</ul>

<!-- <div class="row">
    <div style="background-color: #248dc1; padding: 10px 30px; margin-top: 15px; color:white; display: flex; align-items: center;"
        class="col-12">
        <h4 style="margin-bottom: 0px"><i class="fa fa-info-circle"
                style="font-size: 30px; margin-right: 15px"></i>{{l('Group12_ModelDetailTitle')}}</h4>
    </div>

    <div class="col-md-6">
        <p-card>
            <form [formGroup]="kiemKeForm">
                <div class="row">
                    <div class=" col-md-12 magrin-bottom">
                        <label for="kK_CODE"><strong>Mã kiểm kê*</strong></label>
                        <input class="form-control input" id="kK_CODE" [(ngModel)]="kiemKe.kK_CODE"
                            formControlName="kK_CODE" name="kK_CODE" required>
                    </div>

                    <div class=" col-md-12 magrin-bottom">
                        <label for="kK_MADONVI"><strong>Mã đơn vị*</strong></label>
                        <input class="form-control input" id="kK_MADONVI" [(ngModel)]="kiemKe.kK_MADONVI"
                            formControlName="kK_MADONVI" name="kK_MADONVI" required>
                    </div>

                    <div class=" col-12 form-group">
                        <div class="row">
                            <label for="kK_NGUOITAO" class="col-12"><strong>Người tạo*</strong></label>
                            <p-dropdown [ngClass]="'col-12'" [options]="typeItems" filter="true"
                                [(ngModel)]="kiemKe.kK_NGUOITAO" name="kK_NGUOITAO"
                                [ngModelOptions]="{standalone: true}" inputStyleClass="form-control">
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="font-size:14px;float:left;margin-top:4px;">{{item.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class=" col-md-12 magrin-bottom">
                        <label for="kK_TONGTB_DUSOVOISAOKE"><strong>Tổng TB đủ so với sao kê*</strong></label>
                        <input type="number" class="form-control input" id="kK_TONGTB_DUSOVOISAOKE"
                            [(ngModel)]="kiemKe.kK_TONGTB_DUSOVOISAOKE" [ngModelOptions]="{standalone: true}"
                            name="kK_TONGTB_DUSOVOISAOKE" required>
                    </div>

                    <div class=" col-md-12 magrin-bottom">
                        <label for="kK_TONGTB_THUASOVOISAOKE"><strong>Tổng TB thừa so với sao kê*</strong></label>
                        <input type="number" class="form-control input" id="kK_TONGTB_THUASOVOISAOKE"
                            [(ngModel)]="kiemKe.kK_TONGTB_THUASOVOISAOKE" [ngModelOptions]="{standalone: true}"
                            name="kK_TONGTB_DUSOVOISAOKE" required>
                    </div>
                </div>
            </form>
        </p-card>
    </div>

    <div class="col-md-6">
        <p-card>
            <form [formGroup]="kiemKeForm">
                <div class="row">
                    <div class=" col-md-12 magrin-bottom">
                        <label for="kK_TONGTB_THIEUSOVOISAOKE"><strong>Tổng TB thiếu so với sao kê*</strong></label>
                        <input type="number" class="form-control input" id="kK_TONGTB_THIEUSOVOISAOKE"
                            [(ngModel)]="kiemKe.kK_TONGTB_THIEUSOVOISAOKE" [ngModelOptions]="{standalone: true}"
                            name="kK_TONGTB_THIEUSOVOISAOKE" required>
                    </div>
                    <div class=" col-md-12 magrin-bottom">
                        <label for="kK_TENDONVI"><strong>Tên đơn vị*</strong></label>
                        <input class="form-control input" id="kK_TENDONVI" [(ngModel)]="kiemKe.kK_TENDONVI"
                            formControlName="kK_TENDONVI" name="kK_TENDONVI" required>
                    </div>

                    <div class=" col-md-12 magrin-bottom">
                        <label for="kK_TONGTB_DUOCKIEMKE"><strong>Tổng TB được kiểm kê*</strong></label>
                        <input type="number" class="form-control input" id="kK_TONGTB_DUOCKIEMKE"
                            [(ngModel)]="kiemKe.kK_TONGTB_DUOCKIEMKE" formControlName="kK_TONGTB_DUOCKIEMKE"
                            name="kK_TONGTB_DUOCKIEMKE" required>
                    </div>

                    <div class=" col-md-12 form-group ">
                        <div class="row">
                            <label for="kK_NGAYTAO" class="col-12"><strong>Ngày chốt</strong></label>
                            <p-calendar [ngClass]="'col-12 '" [(ngModel)]="dateInput" NAME="kK_NGAYTAO"
                                [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2020"
                                [ngModelOptions]="{standalone: true}" inputStyleClass="form-control">
                            </p-calendar>
                        </div>


                    </div>
                    <div class=" col-md-12 magrin-bottom">
                        <label for="kK_TRANGTHAI"><strong>Trạng thái*</strong></label>
                        <select class="form-control" id="kK_TRANGTHAI" [(ngModel)]="kiemKe.kK_TRANGTHAI"
                            name="kK_TRANGTHAI" [ngModelOptions]="{standalone: true}">
                            <option value="đóng">Đóng</option>
                            <option value="mở">Mở</option>
                        </select>
                    </div>
                </div>
            </form>
        </p-card>
    </div>

</div> -->



<form #formRef="ngForm" [formGroup]="kiemKeForm">
    <div
        style="background-color: #248dc1; padding: 10px 30px; margin-top: 15px; color:white; display: flex; align-items: center;">
        <h4 style="margin-bottom: 0px"><i class="fa fa-info-circle"
                style="font-size: 30px; margin-right: 15px"></i>{{l('Group12_ModelDetailTitle')}}</h4>
    </div>

    <div style="padding: 20px;">
        <div style="padding: 20px; background-color: white;">
            <div class="row">
                <div class="col-md-6" style="font-size: 15px;">
                    <div>
                        <div>{{l('Group12_kK_CODE')}}<span style="color: red">(*)</span></div>
                        <input formControlName="kK_CODE"
                            [ngClass]="{ 'is-invalid': submitted && kiemKeForm}"
                            [(ngModel)]="kiemKe.kK_CODE" name="kK_CODE" class="form-control" [readonly]="!isEdit">
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div *ngIf="kiemKeForm.kK_CODE.errors?.required" name="empty_field">Vui lòng nhập mã bảo
                                dưỡng
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div>{{l('Group12_kK_MADONVI')}}<span style="color: red">(*)</span></div>
                        <input formControlName="kK_MADONVI"
                            [ngClass]="{ 'is-invalid': submitted && kiemKeForm}"
                            [(ngModel)]="kiemKe.kK_MADONVI" name="kK_MADONVI" class="form-control" [readonly]="!isEdit">
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div *ngIf="kiemKeForm.kK_MADONVI.errors?.required" name="empty_field">Vui lòng nhập mã bảo
                                dưỡng
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div>{{l('Group12_kK_TENDONVI')}}<span style="color: red">(*)</span></div>
                        <input formControlName="kK_TENDONVI"
                            [ngClass]="{ 'is-invalid': submitted && kiemKeForm }"
                            [(ngModel)]="kiemKe.kK_TENDONVI" name="kK_TENDONVI" class="form-control"
                            [readonly]="!isEdit">
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div *ngIf="kiemKeForm.kK_TENDONVI.errors?.required" name="empty_field">Vui lòng nhập mã bảo
                                dưỡng
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div>{{l('Group12_kK_NGUOITAO')}}<span style="color: red">(*)</span></div>
                        <select class="form-control" id="kK_NGUOITAO" [(ngModel)]="kiemKe.kK_NGUOITAO"
                            name="kK_NGUOITAO" [ngModelOptions]="{standalone: true}" [disabled]="!isEdit">
                            <option value="" class="mt-1 mb-1">---{{l('Group12_All')}}---</option>
                            <option *ngFor="let nv of nhanvienList " value="{{nv}}">
                                {{nv}}
                            </option>
                        </select>
                    </div>

                    <div class="mt-3">
                        <div>{{l('Group12_kK_TONGTB_DUOCKIEMKE')}}<span style="color: red">(*)</span></div>
                        <input formControlName="kK_TONGTB_DUOCKIEMKE"
                            [ngClass]="{ 'is-invalid': submitted && kiemKeForm }"
                            [(ngModel)]="kiemKe.kK_TONGTB_DUOCKIEMKE" name="kK_TONGTB_DUOCKIEMKE" class="form-control"
                            [readonly]="!isEdit" type="number">
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div *ngIf="kiemKeForm.kK_TONGTB_DUOCKIEMKE.errors?.required" name="empty_field">Vui lòng
                                nhập mã bảo dưỡng
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div>{{l('Group12_autH_STATUS')}}<span style="color: red">(*)</span></div>
                        <select class="form-control" id="kK_TRANGTHAI" [(ngModel)]="kiemKe.kK_TRANGTHAI"
                            name="kK_TRANGTHAI" [ngModelOptions]="{standalone: true}"  [disabled]="!isEdit">
                            <option value="đóng">Đóng</option>
                            <option value="mở">Mở</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6" style="font-size: 15px;">
                    <div>
                        <div>{{l('Group12_kK_TONGTB_DUSOVOISAOKE')}}<span style="color: red">(*)</span></div>
                        <input [(ngModel)]="kiemKe.kK_TONGTB_DUSOVOISAOKE" name="kK_TONGTB_DUSOVOISAOKE"
                            class="form-control" [readonly]="!isEdit" type="number"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mt-3">
                        <div>{{l('Group12_kK_TONGTB_THIEUSOVOISAOKE')}}<span style="color: red">(*)</span></div>
                        <input [(ngModel)]="kiemKe.kK_TONGTB_THIEUSOVOISAOKE" name="kK_TONGTB_THIEUSOVOISAOKE"
                            class="form-control" [readonly]="!isEdit" type="number"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mt-3">
                        <div>{{l('Group12_kK_TONGTB_THUASOVOISAOKE')}}<span style="color: red">(*)</span></div>
                        <input [(ngModel)]="kiemKe.kK_TONGTB_THUASOVOISAOKE" name="kK_TONGTB_THUASOVOISAOKE"
                            class="form-control" [readonly]="!isEdit" type="number"
                            [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="mt-3">
                        <div>{{l('Group12_kK_NGAYTAO')}}<span style="color: red">(*)</span></div>
                        <input name="filterText" autoFocus class="form-control m-input"
                            [placeholder]="l('Group12_kK_NGAYTAO')" type="date" [(ngModel)]="kiemKe.kK_NGAYTAO"
                            name="kK_NGAYTAO" [readonly]="!isEdit" (change)="createDate()" formControlName="kK_NGAYTAO">
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div *ngIf="kiemKeForm.kK_NGAYTAO.errors?.required" name="empty_field">Vui lòng
                                    nhập mã bảo dưỡng
                                </div>
                            </div>
                    </div>
                    <div class="mt-3">
                        <div>{{l('Group12_kK_NGAYCHOT')}}<span style="color: red">(*)</span></div>
                        <input name="filterText" autoFocus class="form-control m-input"
                            [placeholder]="l('Group12_kK_NGAYCHOT')" type="date" [(ngModel)]="kiemKe.kK_NGAYCHOT"
                            name="kK_NGAYCHOT" [readonly]="!isEdit" formControlName="kK_NGAYCHOT">
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div *ngIf="kiemKe.kK_NGAYCHOT.errors?.required" name="empty_field">Vui lòng
                                    nhập mã bảo dưỡng
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>