<div class="row">
    <div class="col-md-5 col-xs-12">
        <div class="form-group row align-items-center">
            <label class="col-4 col-form-label my-text"
                   for="ttyc_Status_input">{{this.statusLabel}}</label>
            <p-dropdown
                [(ngModel)]="filterInput.autH_STATUS"
                [options]="statusOptions"
                class="col-8"
                id="ttyc_Status_input">
            </p-dropdown>
        </div>
    </div>

    <div class="col-md-5 col-xs-12">
        <div class="row align-items-center">
            <div class="ui-inputgroup pt-2 col-12">
                <p-dropdown
                    (onChange)="handleChangeSearchField($event)"
                    [options]="searchFieldOptions"
                >
                </p-dropdown>
                <input [(ngModel)]="searchValue" class="form-control form-control-sm" type="text">
            </div>
        </div>
    </div>
    <div class="col-2">
        <button
            (click)="handleSearch()"
            class="btn btn-sm m-primary mt-2"
        >
            <i class="fa fa-search text-white"></i>
        </button>
    </div>
</div>
