<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto col-xs-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>{{l("NhaSanXuat")}}</span>
            </h3>
            <span class="m-section__sub">
                {{l("Manage NhaSanXuat Group 11")}}
            </span>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
            <button *ngIf="isGranted('Pages.Administration.Users.Create')" class="btn btn-primary"><i
                    class="fa fa-plus"></i> {{l("Create new NSX")}}</button>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <form class="horizontal-form" autocomplete="off">
                <div class="m-form m-form--label-align-right">
                    <div class="row align-items-center m--margin-bottom-10">
                        <div class="col-xl-12">
                            <div class="form-group m-form__group align-items-center">
                                <div class="input-group">
                                    <input name="filterText" autoFocus class="form-control m-input"
                                        [placeholder]="l('Search by code')" type="text"
                                        [(ngModel)]="filterInput.nsX_CODE" name="nsX_CODE">
                                    <span class="input-group-btn">
                                        <button (click)="search()" class="btn btn-primary" type="submit"><i
                                                class="flaticon-search-1"
                                                [attr.aria-label]="l('Search by code')"></i></button>
                                    </span>
                                    <span style="width: 50px"></span>
                                    <input name="filterText" autoFocus class="form-control m-input"
                                        [placeholder]="l('Search by name')" type="text"
                                        [(ngModel)]="filterInput.nsX_NAME" name="nsX_NAME">
                                    <span class="input-group-btn">
                                        <button (click)="search()" class="btn btn-primary" type="submit"><i
                                                class="flaticon-search-1"
                                                [attr.aria-label]="l('Search by name')"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row align-items-center">
                <!--<Primeng-TurboTable-Start>-->
                <div class="primeng-datatable-container">
                    <div class="primeng-paging-container">
                        <!-- [busyIf]="primengTableHelper.isLoading"> -->
                        <p-table #dataTable [columns]="cols" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                            selectionMode="single" [(selection)]="selectedNSX" [paginator]="true" [scrollable]="true"
                            ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Administration.Users.Delete')">
                                        {{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="nsX_CODE">
                                        {{l('Mã NSX')}}
                                        <p-sortIcon field="nsX_CODE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="nsX_NAME">
                                        {{l('Tên NSX')}}
                                        <p-sortIcon field="nsX_NAME"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="nsX_FROM">
                                        {{l('Xuất xứ')}}
                                        <p-sortIcon field="nsX_FROM"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px" [hidden]="!isGrantedAny('Pages.Group11.NSX.Delete')">
                                        <div class="btn-group dropdown" normalizePosition>
                                            <button class="dropdown-toggle btn btn-sm btn-primary"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a *ngIf="permission.isGranted('Pages.Group11.NSX.Delete')"
                                                        (click)="delete(record)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="ui-column-title"> {{l('nsX_CODE')}}</span>
                                        {{record.nsX_CODE}}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="ui-column-title"> {{l('nsX_NAME')}}</span>
                                        {{record.nsX_NAME}}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="ui-column-title"> {{l('nsX_FROM')}}</span>
                                        {{record.nsX_FROM}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <span class="total-records-count">
                            {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                        </span>
                    </div>
                </div>
                <!--<Primeng-TurboTable-End>-->
            </div>
        </div>
    </div>
</div>