<div [@routerTransition] class="row">
    <div class="m-primary col-12">
        <button
            (click)="onGoBack()"
            class="btn"
            style="background-color: transparent;"
        >
            <i
                class="fa fa-arrow-left fa-2x text-white"
                style="font-size: 1.5rem;"
            ></i>
            <span class="text-white my-text h6">{{l('GR6_GOBACK')}}</span>
        </button>
        <button
            [hidden]="!isGranted('Pages.Group6.DoUuTien.Delete')"
            class="btn"
            data-target="#exampleModal"
            data-toggle="modal"
            style="background-color: transparent;"
        >
            <i
                class="fa fa-trash fa-2x text-white"
                style="font-size: 1.5rem;"
            ></i>
            <span class="text-white my-text h6">{{l('GR6_DELETE')}}</span>
        </button>
        <button
            (click)="handleEdit()"
            [hidden]="!isGranted('Pages.Group6.DoUuTien.Update')"
            class="btn"
            data-toggle="modal"
            style="background-color: transparent;"
        >
            <i
                class="fa fa-edit fa-2x text-white"
                style="font-size: 1.5rem;"
            ></i>
            <span class="text-white my-text h6">{{l('GR6_EDIT')}}</span>
        </button>
    </div>

    <div class="col-12">
        <div class="card m-3 p-3">
            <form #form="ngForm" (ngSubmit)="submitChange()" id="DETAIL_DUT_FORM">
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-form-label my-font" for="madv-input">{{l('GR6_DUT_CODE')}} </label>
                        <div>
                            <input
                                [value]="detailModel.duT_CODE"
                                class="form-control"
                                id="madv-input"
                                name="dvT_CODE"
                                pInputText
                                readonly
                                size="30"
                                type="text"
                            />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label
                            class="col-form-label my-font"
                            for="code-input"
                        >
                            {{l('GR6_DUT_NAME')}}
                            <span class="text-danger">*</span>
                        </label>
                        <div>
                            <input
                                [(ngModel)]="detailModel.duT_NAME"
                                [pattern]="viRegStr"
                                [readOnly]="editPageState!=='EDIT'"
                                class="form-control"
                                id="code-input"
                                maxlength="10000"
                                name="dvT_CODE"
                                pInputText
                                required
                                size="30"
                                style="margin-right: 1em;"
                                type="text"
                            />
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-form-label my-font" for="level-input">{{l('GR6_DUT_LEVEL')}}<span
                            class="text-danger">*</span> </label>
                        <div>
                            <input
                                [(ngModel)]="detailModel.duT_LEVEL"
                                [max]="this.maxLevel"
                                [readOnly]="editPageState!=='EDIT'"
                                class="form-control"
                                id="level-input"
                                min="1"
                                name="duT_LEVEL"
                                pInputText
                                required
                                size="30"
                                type="number"
                            />
                        </div>
                    </div>


                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-form-label my-font" for="madv-input">{{l('GR6_DESC')}}</label>
                        <textarea
                            [(ngModel)]="detailModel.duT_DESC"
                            [pattern]="viRegStr"
                            [readOnly]="editPageState!=='EDIT'"
                            aria-label="With textarea"
                            class="form-control"
                            id="dut_DESC"
                            maxlength="10000"
                            name="duT_DESC"
                            pInputTextarea></textarea>
                    </div>
                    <div *ngIf="editPageState==='EDIT'" class="col-12">
                        <div class="row justify-content-end pr-4">
                            <button (click)="handleCancel()" class="btn"><span
                                class="my-text">{{l('GR6_CANCEL')}}</span></button>
                            <button [disabled]="form.invalid" class="btn m-primary" type="submit"><span
                                class="my-text text-white">{{l('GR6_SAVE')}}</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Modal -->
    <div
        aria-hidden="true"
        aria-labelledby="exampleModalLabel"
        class="modal fade"
        id="exampleModal"
        role="dialog"
        tabindex="-1"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title my-font" id="exampleModalLabel">
                        {{l('GR6_WARNING')}}
                    </h5>
                    <button
                        aria-label="Close"
                        class="close"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="my-font">
                        {{l('GR6_DUT_DELETE_WARNING')}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span class="my-font">{{l('GR6_CANCEL')}}</span>
                    </button>
                    <button
                        (click)="onDelete()"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span class="my-font">{{l('GR6_YES')}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Approve modal-->
    <div
        aria-hidden="true"
        aria-labelledby="approveModal"
        class="modal fade"
        id="approveModal"
        role="dialog"
        tabindex="-1"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title my-text">
                        {{l('GR6_CONFIRM')}}
                    </h5>
                    <button
                        aria-label="Close"
                        class="close"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="my-text">
                        {{l('GR6_DUT_APPROVE_CONFIRM')}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span class="my-text">
                            {{l('GR6_CANCEL')}}
                        </span>
                    </button>
                    <button
                        class="btn btn-primary"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span class="my-text">{{l('GR6_YES')}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Approve modal-->
    <div
        aria-hidden="true"
        aria-labelledby="denyModal"
        class="modal fade"
        id="denyModal"
        role="dialog"
        tabindex="-1"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title my-text">
                        {{l('GR6_CONFIRM')}}
                    </h5>
                    <button
                        aria-label="Close"
                        class="close"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="my-text">
                        {{l('GR6_DUT_DENY_CONFIRM')}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span class="my-text">
                            {{l('GR6_CANCEL')}}
                        </span>
                    </button>
                    <button
                        class="btn btn-primary"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span class="my-text">{{l('GR6_YES')}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
