<div [@routerTransition] class="row">
    <div class="col-12">
        <div class="m-primary">
            <button
                (click)="addNewClick()"
                [hidden]="!isGranted('Pages.Group6.DoUuTien.Create')"
                class="btn"
                style="background-color: transparent;"
            >
                <i
                    class="fa fa-plus-circle fa-2x text-white"
                    style="font-size: 1.5rem;"
                ></i>
            </button>

            <button
                [disabled]="!selectedTTYCSC.duT_ID"
                [hidden]="!isGranted('Pages.Group6.DoUuTien.Delete')"
                class="btn"
                data-target="#deleteModal"
                data-toggle="modal"
                style="background-color: transparent;"
            >
                <i
                    class="fa fa-trash fa-2x text-white"
                    style="font-size: 1.5rem;"
                ></i>
            </button>

            <button
                (click)="viewDetail()"
                [disabled]="!selectedTTYCSC.duT_ID"
                [hidden]="!isGranted('Pages.Group6.DoUuTien.ById')"
                class="btn"
                style="background-color: transparent;"
            >
                <i
                    class="fa fa-info-circle fa-2x text-white"
                    style="font-size: 1.5rem;"
                ></i>
            </button>
            <button
                (click)="goToEditPage()"
                [disabled]="!selectedTTYCSC.duT_ID"
                [hidden]="!isGranted('Pages.Group6.DoUuTien.Update')"
                class="btn"
                style="background-color: transparent;"
            >
                <i
                    class="fa fa-edit fa-2x text-white"
                    style="font-size: 1.5rem;"
                ></i>
            </button>
        </div>
    </div>

    <div class="col-12 my-3 m-primary p-3">
        <span class="my-font text-white h3 m-3">{{l('GR6_DUT_LIST_TITLE')}}</span>
    </div>

    <!--<Primeng-TurboTable-Start>-->
    <div class="col-12">
        <div class="card p-3 mx-3 row">
            <div class="col-12">
                <app-search-bar
                    (search)="handleSearch($event)"
                    [searchFieldOptions]="this.searchFieldOptions"
                    [statusLabel]="this.l('GR6_STATUS')"
                    [statusOptions]="this.statusOptions"
                ></app-search-bar>
            </div>

            <div class="m-portlet__body">
                <div class="primeng-datatable-container">
                    <p-table
                        #dataTable
                        (onLazyLoad)="search($event)"
                        ScrollWidth="100%"
                        [(selection)]="selectedTTYCSC"
                        [first]="0"
                        [lazy]="true"
                        [loading]="primengTableHelper.isLoading"
                        [paginator]="false"
                        [resizableColumns]="primengTableHelper.resizableColumns"
                        [responsive]="primengTableHelper.isResponsive"
                        [scrollable]="true"
                        [value]="primengTableHelper.records"
                        rows="{{
                                    primengTableHelper.defaultRecordsCountPerPage
                                }}"
                        selectionMode="single"
                    >
                        <ng-template pTemplate="header">
                            <tr class="my-text">
                                <th
                                    [pSortableColumn]="'RowNo'"
                                    class="my-text"
                                    style="color: #3f4047; width: 15%;"
                                >
                                    <span class="my-text">{{l('GR6_STT')}} </span>
                                </th>
                                <th
                                    [pSortableColumn]="'duT_CODE'"
                                    class="my-text"
                                    style="color: #3f4047; width: 25%;"
                                >
                                            <span class="my-text">
                                                {{l('GR6_DUT_CODE')}}
                                            </span>
                                    <p-sortIcon
                                        [field]="'duT_CODE'"
                                    ></p-sortIcon>
                                </th>
                                <th
                                    [pSortableColumn]="'duT_NAME'"
                                    class="my-text"
                                    style="color: #3f4047; width: 25%;"
                                >
                                            <span class="my-text">
                                                {{l('GR6_DUT_NAME')}}
                                            </span>
                                    <p-sortIcon
                                        [field]="'duT_NAME'"
                                    ></p-sortIcon>
                                </th>
                                <th
                                    [pSortableColumn]="'duT_DESC'"
                                    class="my-text"
                                    style="color: #3f4047; width: 35%;"
                                >
                                            <span class="my-text">
                                                {{l('GR6_DESC')}}
                                            </span>
                                    <p-sortIcon
                                        [field]="'duT_DESC'"
                                    ></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template let-dv pTemplate="body">
                            <tr [pSelectableRow]="dv">
                                <td class="my-text" style="width: 15%; padding-left: 1em;">
                                    {{ this.primengTableHelper.records.indexOf(dv) + 1 }}
                                </td>
                                <td class="my-text" style="width: 25%;">
                                    {{ dv.duT_CODE }}
                                </td>
                                <td class="my-text" style="width: 25%;">
                                    {{ dv.duT_NAME }}
                                </td>
                                <td class="my-text" style="width: 35%;">
                                    {{ dv.duT_DESC }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div
                        *ngIf="
                                    primengTableHelper.totalRecordsCount == 0
                                "
                        class="primeng-no-data"
                    >
                        {{l('GR6_NO_DATA')}}
                    </div>
                    <div class="primeng-paging-container">
                        <p-paginator
                            #paginator
                            (onPageChange)="search($event)"
                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                            [totalRecords]="primengTableHelper.totalRecordsCount"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                        >
                        </p-paginator>
                        <span class="total-records-count my-text">
                            {{l('GR6_TOTAL_RECORD')}}:
                            {{ primengTableHelper.totalRecordsCount }}
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<Primeng-TurboTable-End> -->
</div>
<div class="col-12">
    <!-- DeleteModal -->
    <div
        aria-hidden="true"
        aria-labelledby="deleteModal"
        class="modal fade"
        id="deleteModal"
        role="dialog"
        tabindex="-1"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title my-text" id="deleteModalTitle">
                        {{l('GR6_WARNING')}}
                    </h5>
                    <button
                        aria-label="Close"
                        class="close"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="my-text">
                        {{l('GR6_DUT_DELETE_WARNING')}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span class="my-text">
                           {{l('GR6_CANCEL')}}
                        </span>
                    </button>
                    <button
                        (click)="delete()"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        type="button"
                    >
                        <span class="my-text">
                            {{l('GR6_YES')}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--NOTE InfoModal -->
    <div
        aria-hidden="true"
        aria-labelledby="modalInfo"
        class="modal fade"
        id="modalInfo"
        role="dialog"
        tabindex="-1"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form #form="ngForm" (ngSubmit)="addNew()">
                    <div class="modal-header">
                        <h5 class="modal-title my-text" id="modalInfoTitle">
                            {{l('GR6_DUT_CREATE_TITLE')}}
                        </h5>
                        <button
                            aria-label="Close"
                            class="close"
                            data-dismiss="modal"
                            type="button"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm form-group">
                                <label
                                    class="my-text"
                                    for="duT_code_input"
                                >
                                    {{l('GR6_DUT_CODE')}}
                                </label>
                                <input
                                    [(ngModel)]="detailSchema.duT_CODE"
                                    [placeholder]="l('GR6_DUT_CODE')"
                                    class="form-control"
                                    id="duT_code_input"
                                    name="duT_CODE"
                                    pInputText
                                    readonly
                                    type="text"
                                />
                            </div>
                            <div class="col-sm form-group">
                                <label class="my-text" for="dut_level_input">{{l('GR6_DUT_LEVEL')}}</label>
                                <input
                                    [(ngModel)]="defaultLevel"
                                    [max]="defaultLevel"
                                    [placeholder]="l('GR6_DUT_LEVEL')"
                                    class="form-control"
                                    id="dut_level_input"
                                    min="1"
                                    name="duT_LEVEL"
                                    pInputText
                                    required
                                    type="number"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm pt-4">
                                <label class="my-text" for="dut_name_input">
                                    {{l('GR6_DUT_NAME')}}
                                    <span class="text-danger">*</span>
                                </label>
                                <input
                                    [(ngModel)]="detailSchema.duT_NAME"
                                    [maxLength]="100"
                                    [pattern]="viRegstr"
                                    [placeholder]="l('GR6_DUT_NAME')"
                                    class="form-control"
                                    id="dut_name_input"
                                    name="duT_NAME"
                                    pInputText
                                    required
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm pt-4">
                                <label class="my-text" for="dut_desc_input">
                                    {{l('GR6_DESC')}}
                                </label>
                                <textarea
                                    [(ngModel)]="detailSchema.duT_DESC"
                                    [maxLength]="1000"
                                    [placeholder]="l('GR6_DESC')"
                                    class="form-control"
                                    id="dut_desc_input"
                                    name="duT_DESC"
                                    pInputTextarea
                                    rows="3"
                                ></textarea>
                            </div>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer">
                        <button
                            *ngIf="modalAction === 'CREATE'"
                            [disabled]="isFetching"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                            type="button"
                        >
                        <span class="my-text">
                            {{l('GR6_CANCEL')}}
                        </span>
                        </button>
                        <button
                            *ngIf="modalAction === 'CREATE'"
                            [disabled]="form.invalid || isFetching"
                            class="btn btn-info"
                            type="submit"
                        >
                            <span class="my-text">{{l('GR6_SAVE')}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
