.shadow-left {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: black;
    -moz-box-shadow: -3px -3px 5px 0px #666;
    -webkit-box-shadow: -3px -3px 5px 0px #666;
    box-shadow: -3px -3px 5px 0px #666;
}

.toolbar-ul {
    background-color: #58a3dc;
    padding-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.toolbar-li {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.home-ul {
    background-color: #58a3dc;
    padding-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.home-li {
    color: white;
    display: inline-block;
    padding: 15px;
}

/*.primeng-datatable-container table thead tr th {*/
/*    background-color: #58a3dc !important;*/
/*}*/

/*body .ui-widget-header {*/
/*     color: #fff !important;*/
/*}*/

.btn-primary {
    background-color: #58a3dc !important;
    border: none !important;
}

.primeng-paging-container .ui-paginator span a:hover.ui-state-active {
    background-color: #58a3dc !important;
}
