

    <ul class="toolbar-ul shadow">
        <li style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="addNew()">
            <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
            Thêm
        </li>
        <li style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="viewDetail()">
            <i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
            Xem chi tiết
        </li>
    </ul>

    <ul class="home-ul shadow">
        <li style=" color:white ; display: inline-block;padding:15px;">
            <i class="fa fa-home" aria-hidden="true"></i>
            Trang chủ</li>
    </ul>




<div class="shadow" style="margin:15px;font-size: 15px;font-family: Arial, Helvetica, sans-serif;background-color: white;">

    <div style="margin: 20px;padding: 0;">
        <form #formRef="ngForm" class="filter" (ngSubmit)="search()" style="margin: 0;padding: 0;">
            <div style="margin-top:10px;width: 30%;">
                <label>Mã đơn vị</label>
                <input class="form-control" [(ngModel)]="filterInput.brancH_CODE" name="brancH_CODE">
            </div>
            <button hidden></button>
        </form>
    </div>
        <div style="margin: 0;">
            <p-table class="abc" [value]="records" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header"
                    style="color:#fff;background-color:#212529;border-color:#32383e; margin: 20px;padding: 20px;">
                    <tr class="text-white"
                        style="background-color:#212529;border-color:#32383e; margin: 20px;padding: 20px;">
                        <th>Mã đơn vị</th>
                        <th>Tên đơn vị</th>
                        <th>Sđt</th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-branch>
                    <tr (click)="selectedRow(branch)" (dblclick)="update()"
                        [class.selected]="selectedBranch === branch">
                        <td>{{branch.brancH_CODE}}</td>
                        <td>{{branch.brancH_NAME}}</td> 
                        <td>{{branch.tel}}</td>
                       
                    </tr>
                </ng-template>
            </p-table>
        </div>
    
</div>