<!-- main app container -->
<div class="group10" style="font-family: roboto;">
    <div>
        <ul *ngIf="(this.editPageState=='view' || this.editPageState == 'edit')" style="background-color: #58a3dc;font-size: 15px;padding-left:10px;margin:0;color:white">
            <li *ngIf="this.isUpdate && isGranted('Pages.Group10.NSX.Update')" style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="onSubmit()" ><i
                class="fa fa-floppy-o" id="btnUpdate"></i></li>
            <li *ngIf="!this.isUpdate && isGranted('Pages.Group10.NSX.Update')" style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="update()" ><i
                class="fa fa-pencil" id="btnEdit"></i></li>
            <li *ngIf="isGranted('Pages.Group10.NSX.Delete')"
                style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="delete()"><i
                class="fa fa-trash" id="btnDel"></i></li>
            <li style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;"
            onclick="window.history.back()"><i class="fa fa-arrow-left"></i></li>

        </ul>
        <ul *ngIf="(this.editPageState=='add' )" style="background-color: #58a3dc;font-size: 15px;padding-left:10px;margin:0;color:white">
            <li *ngIf="isGranted('Pages.Group10.NSX.Add')" style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;" (click)="onSubmit()" ><i
                class="fa fa-floppy-o" id="btnUpdate"></i></li>

            <li style="display: inline-block;padding:10px;padding-left: 20px;cursor: pointer;"
            onclick="window.history.back()"><i class="fa fa-arrow-left"></i></li>

        </ul>

    </div>

    <div class="m-subheader m-t-1">
        <div
            style="background-color: #58a3dc; padding: 10px 30px; margin-top: 15px; color:white; display: flex; align-items: center;">
            <h1 style="margin-bottom: 0px"><i class="fa fa-info-circle"
                    style="font-size: 30px; margin-right: 15px"></i>{{l('Group10_NSX_DETAIL_TITLE')}}</h1>
        </div>
        <div class="bgwhite rounded-bottom">
            <div class=" p-5 font-common-detail">
                <div >


                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label  >{{l('Group10_NSX_CODE')}}
                                    <label style="color: red">*</label>
                                </label>
                                <input id="nsx_code" type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" disabled/>
                                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                                    <div *ngIf="f.code.errors.required" name="empty_field">{{l('Group10_REQUIRED')}}</div>
                                    <div *ngIf="f.code.errors.maxlength" name="maxsize_field">{{l('Group10_MAX',this.maxCode)}}</div>
                                </div>
                            </div>
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label >{{l('Group10_NSX_NAME')}}
                                    <label style="color: red">*</label>
                                </label>
                                <input id="nsx_name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" disabled/>
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required" name="empty_field">{{l('Group10_REQUIRED')}}</div>
                                    <div *ngIf="f.name.errors.maxlength" name="maxsize_field">{{l('Group10_MAX',this.maxName)}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label  >{{l('Group10_NSX_FROM')}}
                                    <label style="color: red">*</label>
                                </label>
                                <input id="nsx_from" type="text" formControlName="from" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.from.errors }" disabled/>
                                <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
                                    <div *ngIf="f.from.errors.required" name="empty_field">{{l('Group10_REQUIRED')}}</div>
                                    <div *ngIf="f.from.errors.maxlength" name="maxsize_field">{{l('Group10_MAX',this.maxFrom)}}</div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>
</div>
